Source: ubuntudde-dde-extras
Section: metapackages
Priority: optional
Maintainer: Arun Kumar Pariyar <openarungeek@gmail.com>
Build-Depends:
 debhelper-compat (=13),
Standards-Version: 4.5.1
Homepage: https://ubuntudde.com

Package: ubuntudde-dde-extras
Architecture: all
Depends:
 ubuntudde-dde,
 ${misc:Depends},
Recommends:
 dde-calendar,
 deepin-shortcut-viewer,
 deepin-screensaver,
 dde-calendar,
 dde-clipboard,
 dde-device-formatter,
 dde-store,
 deepin-album,
 deepin-boot-maker,
 deepin-calculator,
 deepin-clone,
 deepin-compressor,
 deepin-deb-installer,
 deepin-editor,
 deepin-font-manager,
 deepin-image-viewer,
 deepin-movie,
 deepin-music,
 deepin-reader,
 deepin-screen-recorder,
 deepin-system-monitor,
 deepin-terminal,
 deepin-draw,
 deepin-picker,
 deepin-turbo,
Description: Deepin Desktop Environment Extras for Ubuntu DDE
 This is a meta package depends DDE Extras
 .
 You can safety remove it after installed.
