Source: ubuntudde-dde-extras
Section: metapackages
Priority: optional
Maintainer: Arun Kumar Pariyar <expertaruncorp@gmail.com>
Build-Depends: debhelper-compat (=13)
Standards-Version: 4.5.0
Homepage: https://ubuntudde.com

Package: ubuntudde-dde-extras
Architecture: all
Depends: ubuntudde-dde, ${misc:Depends}
Recommends: dde-calendar,
            dde-device-formatter,
            deepin-image-viewer,
            deepin-movie-reborn,
            deepin-music,
            deepin-screen-recorder,
            deepin-screenshot,
            deepin-system-monitor,
            deepin-terminal,
            deepin-turbo
Description: Deepin Desktop Environment Extras for Ubuntu DDE
 This is a meta package depends DDE Extras
 .
 You can safety remove it after installed.
